#chat-screen {
  background-color: rgba(50, 50, 50);
  height: 200vh;
}

@media screen and (min-width: 700px) {
  #chat-screen {
    height: 0;
  }
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: rgba(100, 100, 100);
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}

.message__author,
.message__time {
  display: block;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 7px;
}

.message__bubble {
  background-color: rgba(100, 100, 100);
  padding: 10px 15px;
  border-radius: 12px;
  border-top-left-radius: 0;
  font-weight: 600;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  font-size: 12px;
  margin-bottom: 3px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
  color: rgb(20, 20, 20);
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row__content--no-image {
  padding-left: 65px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(70, 70, 70);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.7;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  background-color: rgb(90, 90, 90);
  box-sizing: border-box;
  border: var(--main-border);
  padding: 10px 15px;
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply input::placeholder {
  color: rgb(200, 200, 200);
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: black;
}

.reply__column i,
.reply__column button {
  cursor: pointer;
}

.reply__column button i {
  opacity: 1;
}

.reply__column:last-child > i {
  right: 47px;
  top: 12px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: all 0.1s ease-in-out;
}
.reply input:focus {
  width: 95vw;
  transform: translateX(-12.5%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
